server {

	server_name {{ base_url }};
	
	location /.well-known/matrix {
		proxy_pass https://matrix.{{ base_url }}/.well-known/matrix;
		proxy_set_header X-Forwarded-For $remote_addr;
	}

	location / {
		try_files $uri $uri/ =404;
	}

    listen [::]:443 ssl ipv6only=on; 
    listen 443 ssl; 

}
