version: "3.9"
services:
  postgres:
    container_name: keycloak_postgres
    image: postgres
    env_file: .env
  keycloak:
    container_name: keycloak
    image: jboss/keycloak:latest
    env_file: .env
    ports:
      - "443:8443"
      - "80:8080"
    depends_on:
      - postgres
